.CloudDown {
  position: relative;
  display: inline-block;
}

.CloudDown-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.CloudDown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.CloudDown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.CloudDown-content a:hover {
  background-color: #ddd;
}

.CloudDown-content.show {
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
}
